*{
  box-sizing: border-box;
}
body, html {
    height: 0;
    margin: 0;
    color:#FFDA4A;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* styles the top left logo */
  #logo{
    width: 250px;
   margin-left:3%;
    padding-top:20px;
  }
  /* individual element style */
  img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}
  /* Style for hero image */
  .hero-image {
    /*background-image: url("../img/2ndHalf.png"):*/
    background-color: gray;
    height: initial;
    width: 100%;
    text-align: right;
    padding-top: 0;
   
    margin-bottom:0;
  }
  /* only shows on mobile view*/
  #open{
    display: none;
  }
  #close{
    display: none;
  }
  /* displays on desktop/laptop */
  .hero-image .menu{
    text-align: right;
    display: contents;
  }
 
.menu a{
  color: #FFDA4A;
  text-align: right;
  text-decoration: none;
  margin-right: 7%;
}
/* main container style */
.container{
  width:100%;
  height: auto;
  color:white;
  margin-top:5%;
  background-attachment: fixed;
  text-align: left;
}
.container p{
  font-size: 30px;
  padding-left: 3%;
  padding-right:65%;
}
/* Style for logos */
.clients{
  float: left;
  width: 25%;
  padding: 5px;

}
.row{
  margin-left:15%;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* box under video */
.mochBox{
  margin:auto;
  width: 40%;
  background-color: black;
}
.mochBox iframe{
  max-width: 100%;
}
/* footer style */
.footer{
  background-color: black;
  width:100%;
  height: inherit;
  text-align: center;

}
.footer a{
  font-size: 30px;
  text-decoration: none;
  color:white;
  padding:15px;
}
  
  @media only screen and (max-width: 800px){
    /* tablet style */
    /* makes the logo smaller on tablet */
    #logo{
      width:200px;
    }
    /* what covers the page when mobile menu is clicked */
    .overlay {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0, 0.9);
      overflow-x: hidden;
      transition: 0.5s;
    }
    .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }
    /* cover link style */
    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;
      text-align: center;
    }
    
    .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
    }
    /* the little X */
    .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
    }
    /* the three horizontal lines */
    #open{
      display: block;
      float: right;
      padding-right: 10%;
      padding-top:1%;
      
    }
    /* X is allowed to show */
    #close{
      display: block;
    }
    .container p{
      font-size: 15px;
      padding-left: 3%;
      padding-right: 40%;
    }
    .mochBox{
      margin:auto;
      width: 100%;
      background-color: black;
    }
    .clients{
      width:40%;
    }
    .footer a{
      font-size: 15px;
    }
   @media screen and (max-height: 450px) {
     /* small changes for very small screens */
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

}
  
  
 